* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #fff3e0;
  padding: 40px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #003366;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

label {
  font-weight: bold;
  color: #4a2e00;
  margin-top: 5px;
}

button {
  background: #4a2e00;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #835201;
}

#msg {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
